# =====================================
# FRONTEND
# =====================================

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

frontend/.env
frontend/.env.*

# Frontend logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================================
# BACKEND
# =====================================

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
backend/.venv/

# Environment
backend/.env
backend/.env.*

# Test cache
backend/.pytest_cache/
backend/.cache/
backend/.mypy_cache/

# Runtime storage
backend/storage/*
!backend/storage/.gitkeep

# =====================================
# MACHINE LEARNING
# =====================================
machine-learning/ner_models/*
!machine-learning/ner_models/.gitkeep