@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
  color: black;
}

input::-ms-reveal {
  display: none;
}

@theme {
  --color-primary-100: #e0d4fd;
  --color-primary-200: #c1a9fc;
  --color-primary-300: #a37efa;
  --color-primary-400: #8453f9;
  --color-primary-500: #6528f7;
  --color-primary-600: #5120c6;
  --color-primary-700: #3d1894;
  --color-primary-800: #281063;
  --color-primary-900: #140831;

  --color-info-100: #d7e9fd;
  --color-info-200: #afd3fa;
  --color-info-300: #88bef8;
  --color-info-400: #60a8f5;
  --color-info-500: #3892f3;
  --color-info-600: #2d75c2;
  --color-info-700: #225892;
  --color-info-800: #163a61;
  --color-info-900: #0b1d31;

  --color-success-100: #ceeee3;
  --color-success-200: #9ddec7;
  --color-success-300: #6ccdab;
  --color-success-400: #3cbd90;
  --color-success-500: #0bac74;
  --color-success-600: #098a5d;
  --color-success-700: #076746;
  --color-success-800: #04452e;
  --color-success-900: #022217;

  --color-warning-100: #fde7d3;
  --color-warning-200: #fbcea7;
  --color-warning-300: #fab67c;
  --color-warning-400: #f89d50;
  --color-warning-500: #f68524;
  --color-warning-600: #c56a1d;
  --color-warning-700: #945016;
  --color-warning-800: #62350e;
  --color-warning-900: #311b07;

  --color-danger-100: #fbd7d4;
  --color-danger-200: #f7afa9;
  --color-danger-300: #f2887f;
  --color-danger-400: #ee6054;
  --color-danger-500: #ea3829;
  --color-danger-600: #bb2d21;
  --color-danger-700: #8c2219;
  --color-danger-800: #5e1610;
  --color-danger-900: #2f0b08;

  --color-grey-100: #dfe0e0;
  --color-grey-200: #bfc0c1;
  --color-grey-300: #9fa1a3;
  --color-grey-400: #7f8184;
  --color-grey-500: #5f6164;
  --color-grey-600: #4c4e51;
  --color-grey-700: #393b3d;
  --color-grey-800: #262728;
  --color-grey-900: #131414;

  --color-accent-100: #fff8cf;
  --color-accent-200: #fff19f;
  --color-accent-300: #ffe970;
  --color-accent-400: #ffe240;
  --color-accent-500: #ffdb10;
  --color-accent-600: #ccaf0d;
  --color-accent-700: #99830a;
  --color-accent-800: #665806;
  --color-accent-900: #332c03;
}
